body {
	background-color: #ffc0cb;
	text-align: center;
}

h1 {
    font-size: 30px;
}

input {
	width: 75px;
	height: 25px;
}

blockquote {
	padding: 2% 1%;
	margin: auto;
	background: #fff;
	margin-top: 1%;
	width: 50%;
}

.tweet{
	margin-top: 2%;
}

footer{
  position: absolute;
  bottom: 0;
}
