body {
	background-color: pink;
}
h1 {
	text-align:center;
    font-size:30px;
}
form {
	text-align: center;
}
section{
	margin:0 auto;
	margin-top:5%;
}
input {
	width: 150px;
	height:35px;
}
.Quotes {
	 margin-top:5%;
	 text-align:center;
	 background-color:white;
	 height: 240px;
     width:50%;
	 border:1px black solid;
}
blockquote {
	margin-top:10%;
}
cite {
	float:right;
}